# Node.js dependencies
node_modules

# Editor specific files
.calva
.clj-kondo
.lsp
.vscode

# Shadow-cljs temp files
.shadow-cljs

# Public compiled files
**/public/js
**/target

# Environment files
**/.env
